*::-webkit-scrollbar{
    width: 0;
}
.search-bar {
  text-align: center;
}
.search-bar input {
  padding: 15px 0.5rem;
}
#search-input {
  width: 30%;
}

.coin-list-container {
  height: 75%;
  overflow-y: scroll;
}
.coin-list-container ul {
  width: 85%;
  margin: auto;
  list-style: none;
  text-align: left;
}

.coin-item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  border: 4px rgb(218, 92, 92) double;
}
.list-left {
  display: flex;
  width: 70%;
  padding: 1rem;
  gap: 4rem;
  align-items: center;
}
.list-left div {
  width: 4%;
}
.coin-item-list a {
  text-decoration: none;
  color: rgb(236, 147, 92);
  font-weight: bolder;
  background-color: wheat;
  margin-right: 0.3rem;
  border-radius: 0.5rem;
  transition: 0.4s;
}
.coin-item-info-button {
  padding: 1rem;
}
.coin-item-list a:hover {
  color: wheat;
  background-color: rgb(236, 147, 92);
  border-radius: 0.5rem;
}

.coin-item-logo img {
  width: 35px;
  height: 35px;
}

.crypto-details-container {
  position: absolute;
  top: 18%;
  height: 75vh;
  background-color: #ff0000bd;
  opacity: 0.7;
  width: 80%;
  right: -100%;
  display: none;
  justify-content: center;
  border-radius: 0.5rem 0.2rem 0.5rem 0.5rem;
  animation: slider 3s 1;
  transition: 3s all;
}
@keyframes slider {
    0%{
        right: -80%;

    }
    50%{
        right: -50%;
    }
    100% {
        right: 0;
    }
}

.detail-container-left{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-container-right{
    width: 70%;
    padding: 2rem;
}
.detail-title{
    color: rgb(255, 216, 118);
    text-transform: capitalize;
}
.price-tags{
    display: flex;
    padding:1rem 1.5rem;
    justify-content: space-between;
    color: #565555;
    font-weight: 800;
}
.page-description{
    text-align: left;
    width: 100%;
   overflow-y: scroll;
   color: white;
   letter-spacing: 0.06rem;
   font-style: italic;
}
.close-btn{
    color: red;
    height: max-content;
    background-color: white;
    border-radius: 0 0 0.5rem 0;
    cursor: pointer;
}

@media screen and (max-width:810px) {
    #search-input{
        width: 65%;
    }
    .list-left{
        gap: 1rem;
    }
    .coin-item-id{
        display: none;
    }
    .coin-list-container ul{
        width: 98%;
    }
  .list-left div{
    width: 20%;
  }
  .detail-container-left img{
    width: 85px;
    height: 85px;
  }
  .main{
    position: relative;
  }
  .crypto-details-container div{
    width: 100%;
  }
  .crypto-details-container{
    /* flex-direction: column; */
    background-color: red;
    opacity: 1;
    flex-direction: column;
    justify-content: start;
    right: -100%;
    width: 100%;
    top: 7%;
    height: 93vh;
    overflow-y: scroll;
  }
.coin-item-info-button {
  padding: 0.5rem;
  font-size: 0.65rem;
}
}